body {
    font-family: 'Arsenal', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    background-color: #f5f7fa;
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #fff;
}

/* about styles */

/* projects styles */

.projects {
    margin: 100px 90px 300px 60px;
}

.project-title {
    font-size: 45px;
    color: blue;
}

/* work styles */

/* education styles */

/* sidebar styles */
.sidebar {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.sidebar-title {
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.contacts,
.tech-skills,
.soft-skills {
    margin-left: 40px;
}

.contacts,
.tech-skills {
    margin-bottom: 50px;
}

.contact-type {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contact-link {
    font-size: 14px;
    line-height: 24px;
    color: #565e6a;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.tech-skills-list,
.soft-skills-list {
    color: #fff;
    padding: 0;
    margin-left: 17px;
}

.tech-skills-item,
.soft-skills-item {
    color: #fb6d3a;
}

.tech-skills-text,
.soft-skills-text {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}